Create a new notebook and import dataset named 'titanic.csv'. 
> - What is the size of the dataset?
> - What are the types of features?
> - How many passengers survived?
> - What is the sex of the survivors?
> - Find all features of the passenger with age 80
> - Use method isnull().any() to check for null values in all features
> - Use method isnull().sum() to find how many null values exist in each feature

In [7]:
import pandas as pd
df=pd.read_csv('/content/sample_data/titanic.csv')
#dataset size
df.shape

(891, 12)

In [8]:
#dataset types of data
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [83]:
# number of passengers that survived
filt_01=df['Survived']==1
print('number of survivors:', len(df.loc[filt_01]))

number of survivors: 342

In [87]:
# What is the sex of the survivors?
filt_01=df['Survived']==1
df.loc[filt_01]['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [91]:
# Find all features of the passenger with age 80
filt_02=df['Age']==80
df.loc[filt_02]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S

In [92]:
# Use method isnull().any() to check for null values in all features
df.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [93]:
# Use method isnull().sum() to find how many null values exist in each feature
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64